extends layout

block content
  div.row
    div.form-container.border-content.border-radius-6.bgcolor-white.col-sm-8.col-md-6.col-lg-4.col-md-offset-3
      h1.form-title.uppercase.color-purple Cont nou
      form#register(method='POST', action='/register')
        div.input-container
          input#lastName(type='text', name='lastName', required='')
          label.color-gray.noselect(for='lastName') Nume
          div.line.bgcolor-purple
        // end lastName
        .input-container
          input#firstName(type='text', name='firstName', required='')
          label.color-gray.noselect(for='firstName') Prenume
          div.line.bgcolor-purple
        // end firstName
        div.input-container
          input#email(type='email', name='email', required='')
          label.color-gray.noselect(for='email') Email
          div.line.bgcolor-purple
        // end email
        div.input-container
          input#password(type='password', name='password', required='')
          label.color-gray(for='password') Parolă
          div.line.bgcolor-purple
        // end password container
        div.input-container
          input#confirmPassword(type='password', name='confirmPassword', required='')
          label.color-gray(for='confirmPassword') Confirmă Parola
          .line.bgcolor-purple
        // end confirmPassword container
        div.submit-container
          input.border-radius-2.bgcolor-purple.bgcolor-purple-hover.uppercase(type='submit', value='înregistrare')
